@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
}

/* reset */
div[data-radix-popper-content-wrapper]:has(.rt-Text:empty) {
  display: none;
}

.lil-gui.autoPlace {
  top: 50px;
}